In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Desktop\Careerfoundry\2. Data Analytics Immersion\Achievement 6 - Advanced Analytics & Dashboard Design\6.1 Sourcing Open Data'

In [3]:
df = pd.read_csv(os.path.join(path, '2. Cleaned Dataset.csv'))

#### Check original data type of each column

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21612 entries, 0 to 21611
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21612 non-null  int64
 1   date           21612 non-null  object
 2   price          21612 non-null  float64
 3   bedrooms       21612 non-null  int64
 4   bathrooms      21612 non-null  float64
 5   sqft_living    21612 non-null  int64
 6   sqft_lot       21612 non-null  int64
 7   floors         21612 non-null  float64
 8   waterfront     21612 non-null  int64
 9   view           21612 non-null  int64
 10  condition      21612 non-null  int64
 11  grade          21612 non-null  int64
 12  sqft_above     21612 non-null  int64
 13  sqft_basement  21612 non-null  int64
 14  yr_built       21612 non-null  int64
 15  yr_renovated   21612 non-null  int64
 16  zipcode        21612 non-null  int64
 17  lat            21612 non-null  float64
 18  long           21612 non-null  float64
 19  sqft_living15  21612 non-null  int64
 20  sqft_lot15     21612 non-null  int64
 21  City/Town      21612 non-null  object
dtypes: float64(5), int64(15), object(2)
memory usage: 3.6+ MB

Change data type of some columns to to be proper data types

In [5]:
df = df.astype({'id': 'str',
                'price': 'int64', 
                'zipcode': 'str'})

Change datatype of date column to be datatime datatype as well

In [6]:
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y')

Check datatypes after changing them

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21612 entries, 0 to 21611
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21612 non-null  object
 1   date           21612 non-null  datetime64[ns]
 2   price          21612 non-null  int64
 3   bedrooms       21612 non-null  int64
 4   bathrooms      21612 non-null  float64
 5   sqft_living    21612 non-null  int64
 6   sqft_lot       21612 non-null  int64
 7   floors         21612 non-null  float64
 8   waterfront     21612 non-null  int64
 9   view           21612 non-null  int64
 10  condition      21612 non-null  int64
 11  grade          21612 non-null  int64
 12  sqft_above     21612 non-null  int64
 13  sqft_basement  21612 non-null  int64
 14  yr_built       21612 non-null  int64
 15  yr_renovated   21612 non-null  int64
 16  zipcode        21612 non-null  object
 17  lat            21612 non-null  float64
 18  long           21612 non-null  float64
 19  sqft_living15  21612 non-null  int64
 20  sqft_lot15     21612 non-null  int64
 21  City/Town      21612 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(14), object(3)
memory usage: 3.6+ MB

#### Now all columns have the datatype as we intended.

Check if data type of 'id' and 'zipcode' columns are string

In [8]:
print(df[['id', 'zipcode']].applymap(type))

                  id        zipcode
0      <class 'str'>  <class 'str'>
1      <class 'str'>  <class 'str'>
2      <class 'str'>  <class 'str'>
3      <class 'str'>  <class 'str'>
4      <class 'str'>  <class 'str'>
...              ...            ...
21607  <class 'str'>  <class 'str'>
21608  <class 'str'>  <class 'str'>
21609  <class 'str'>  <class 'str'>
21610  <class 'str'>  <class 'str'>
21611  <class 'str'>  <class 'str'>

[21612 rows x 2 columns]

C:\Users\boss4048\AppData\Local\Temp\ipykernel_46804\3505464097.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df[['id', 'zipcode']].applymap(type))

#### Check for duplicates

In [9]:
duplicates = df[df.duplicated()]

In [10]:
duplicates

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15, City/Town]
Index: []

[0 rows x 22 columns]

There are no duplicates found.

In [11]:
df.to_csv(os.path.join(path, '4. Cleaned Dateset with Python.csv'))